/.vs/
/bin/
/obj/
CodePasswordDLL/obj/CodePasswordDLL.csproj.nuget.cache
CodePasswordDLL/obj/CodePasswordDLL.csproj.nuget.dgspec.json
CodePasswordDLL/obj/CodePasswordDLL.csproj.nuget.g.props
CodePasswordDLL/obj/CodePasswordDLL.csproj.nuget.g.targets
CodePasswordDLL/obj/Debug/netstandard2.0/CodePasswordDLL.AssemblyInfo.cs
CodePasswordDLL/obj/Debug/netstandard2.0/CodePasswordDLL.AssemblyInfoInputs.cache
CodePasswordDLL/obj/Debug/netstandard2.0/CodePasswordDLL.assets.cache
CodePasswordDLL/obj/Debug/netstandard2.0/CodePasswordDLL.csproj.CoreCompileInputs.cache
CodePasswordDLL/obj/Debug/netstandard2.0/CodePasswordDLL.csproj.FileListAbsolute.txt
CodePasswordDLL/obj/Debug/netstandard2.0/CodePasswordDLL.csprojAssemblyReference.cache
CodePasswordDLL/obj/Debug/netstandard2.0/CodePasswordDLL.dll
CodePasswordDLL/obj/Debug/netstandard2.0/CodePasswordDLL.pdb
CodePasswordDLL/obj/project.assets.json
MailSender/.vs/WpfMailSender/DesignTimeBuild/.dtbcache
MailSender/.vs/WpfMailSender/v16/.suo
MailSender/.vs/WpfMailSender/v16/Server/sqlite3/db.lock
MailSender/.vs/WpfMailSender/v16/Server/sqlite3/storage.ide
MailSender/bin/Debug/WpfTestMailSender.exe
MailSender/bin/Debug/WpfTestMailSender.exe.config
MailSender/obj/Debug/App.baml
MailSender/obj/Debug/App.g.cs
MailSender/obj/Debug/App.g.i.cs
MailSender/obj/Debug/GeneratedInternalTypeHelper.g.cs
MailSender/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
MailSender/obj/Debug/MailSender.csproj.CopyComplete
MailSender/obj/Debug/MailSender.csproj.CoreCompileInputs.cache
MailSender/obj/Debug/MailSender.csproj.FileListAbsolute.txt
MailSender/obj/Debug/MailSender.csproj.GenerateResource.cache
MailSender/obj/Debug/MailSender.csprojAssemblyReference.cache
MailSender/obj/Debug/MailSenderNameSpace.Properties.Resources.resources
MailSender/obj/Debug/SendEndWindow.baml
MailSender/obj/Debug/SendEndWindow.g.cs
MailSender/obj/Debug/SendEndWindow.g.i.cs
MailSender/obj/Debug/View/EmailInfoView.baml
MailSender/obj/Debug/View/EmailInfoView.g.cs
MailSender/obj/Debug/View/EmailInfoView.g.i.cs
MailSender/obj/Debug/View/SaveEmailView.baml
MailSender/obj/Debug/View/SaveEmailView.g.cs
MailSender/obj/Debug/View/SaveEmailView.g.i.cs
MailSender/obj/Debug/WpfMailSender.baml
MailSender/obj/Debug/WpfMailSender.g.cs
MailSender/obj/Debug/WpfMailSender.g.i.cs
MailSender/obj/Debug/WpfTestMailSender.exe
MailSender/obj/Debug/WpfTestMailSender.g.resources
MailSender/obj/Debug/WpfTestMailSender.pdb
MailSender/obj/Debug/WpfTestMailSender_MarkupCompile.cache
MailSender/obj/Debug/WpfTestMailSender_MarkupCompile.lref
TabSwitcher/obj/Debug/TabSwitcher.csproj.CoreCompileInputs.cache
TabSwitcher/obj/Debug/TabSwitcher.csproj.FileListAbsolute.txt
TabSwitcher/obj/Debug/TabSwitcher.csproj.GenerateResource.cache
TabSwitcher/obj/Debug/TabSwitcher.csprojAssemblyReference.cache
TabSwitcher/obj/Debug/TabSwitcher.dll
TabSwitcher/obj/Debug/TabSwitcher.g.resources
TabSwitcher/obj/Debug/TabSwitcher.pdb
TabSwitcher/obj/Debug/TabSwitcher.Properties.Resources.resources
TabSwitcher/obj/Debug/TabSwitcher_MarkupCompile.cache
TabSwitcher/obj/Debug/TabSwitcher_MarkupCompile.lref
TabSwitcher/obj/Debug/TabSwitcherControl..baml
TabSwitcher/obj/Debug/TabSwitcherControl..g.cs
TabSwitcher/obj/Debug/TabSwitcherControl..g.i.cs
