
Decoding/obj/Debug/netcoreapp2.2/Decoding.csprojAssemblyReference.cache
MyToolBar/obj/Debug/ToolBarControl.baml
MyToolBar/obj/Debug/MyToolBar_MarkupCompile.cache
MyToolBar/obj/Debug/MyToolBar.csprojAssemblyReference.cache
MyToolBar/obj/Debug/MyToolBar.csproj.CoreCompileInputs.cache
MailSender.Tests1/obj/Debug/MailSender.Tests.csprojAssemblyReference.cache
MailSender.Tests1/obj/Debug/MailSender.Tests.csproj.CoreCompileInputs.cache
ListViewItemScheduler/obj/Debug/WindowEditDialog.baml
ListViewItemScheduler/obj/Debug/ListViewItemScheduler_MarkupCompile.cache
ListViewItemScheduler/obj/Debug/ListViewItemScheduler.csprojAssemblyReference.cache
ListViewItemScheduler/obj/Debug/ListViewItemScheduler.csproj.CoreCompileInputs.cache
ListViewItemScheduler/obj/Debug/ItemSchedulerControl.baml
Decoding/obj/Debug/netcoreapp2.2/Decoding.csprojAssemblyReference.cache
CodePasswordDLL.Tests/obj/Debug/CodePasswordDLL.Tests.csprojAssemblyReference.cache
